In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gdp_data_en.csv')
df.shape

(264, 63)

In [3]:
removed_rows = [5, 34, 47, 59, 60, 61, 62, 63, 66, 71, 72, 93, 96, 100, 101, 102, 103, 105, 108, 126, 132, 133, 134, 137, 138, 140, 151, 154, 159, 168, 179, 181, 189, 195, 196, 202, 213, 215, 216, 228, 229, 234, 236, 238, 239, 247, 257]
df.drop(removed_rows, inplace=True)
df.shape

(217, 63)

In [6]:
top10 = {}
for year in range(1960, 2018):
    tmp = df.loc[:, ['Country Name', str(year)]].sort_values(by=str(year), ascending=False)[:10]
    top10[year] = [{'name': c, 'value': int(g / 1e8)} for c, g in tmp.values]

In [8]:
{c['name'] for y in top10 for c in top10[y]}

{'Argentina',
 'Australia',
 'Brazil',
 'Canada',
 'China',
 'France',
 'Germany',
 'India',
 'Italy',
 'Japan',
 'Korea, Rep.',
 'Mexico',
 'Netherlands',
 'Russian Federation',
 'Spain',
 'Sweden',
 'United Kingdom',
 'United States'}

In [13]:
df.loc[df['Country Name'].isin({c['name'] for y in top10 for c in top10[y]})].sort_values(by='2017', ascending=False)['Country Name']

249         United States
38                  China
117                 Japan
53                Germany
79         United Kingdom
107                 India
75                 France
27                 Brazil
114                 Italy
33                 Canada
200    Russian Federation
124           Korea, Rep.
11              Australia
68                  Spain
152                Mexico
174           Netherlands
7               Argentina
221                Sweden
Name: Country Name, dtype: object

In [9]:
import json

with open('top10_per_year.json', 'w') as fp:
    json.dump(top10, fp, indent=4)

In [25]:
countries = df.loc[:, ['Country Name', '2017']].sort_values(by='2017', ascending=False)[:10]['Country Name'].index
data = {}
for year in range(1960, 2018):
    tmp = df.loc[countries, ['Country Name', str(year)]].fillna(0)
    data[year] = [{'name': c, 'value': int(g / 1e8)} for c, g in tmp.values]

In [27]:
import json

with open('10countries_per_year.json', 'w') as fp:
    json.dump(data, fp, indent=4)

In [42]:
tmp = df.loc[df['Country Name'].isin({c['name'] for y in top10 for c in top10[y]})]
tmp = tmp.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 62']).fillna(0)
tmp = tmp.set_index('Country Name').T
tmp.to_csv('top_country_gdp.csv', index_label='time')